modules = ["nodejs-20", "web"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-25_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34421
externalPort = 5000

[[ports]]
localPort = 40989
externalPort = 3002

[[ports]]
localPort = 41913
externalPort = 3003

[[ports]]
localPort = 42059
externalPort = 3000

[[ports]]
localPort = 43363
externalPort = 4200

[[ports]]
localPort = 46327
externalPort = 3001

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["github:1.0.0"]
expertMode = true

[userenv]

[userenv.shared]
SUPABASE_URL = "https://cscrysbtfijbsilsclng.supabase.co"
SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNzY3J5c2J0ZmlqYnNpbHNjbG5nIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQzNDk1MjcsImV4cCI6MjA3OTkyNTUyN30.PHvbdwBDpTSsXQtQKxP30go2QNUFdcY9e_KQqLIZfFw"
